<!-- Header -->
<!-- <header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To Our Studio!</div>
      <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
    </div>
  </div>
</header> -->

<section class="home-hero parallax--bg">
	<div class="container">
		<h3 class="title parallax--box">EXPLORE THE WORLD </h3>
<h4>We're here to make the remarkable happen.</h4>
		<a href="" class="button button-accent">MAKE A RESERVATION</a>
	</div>
</section>
