<%= form_tag spaces_path, method: :get, class: 'form-block' do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Get Started", name: nil, class: "cta btn btn-primary btn-xl text-uppercase js-scroll-trigger"  %>
  </p>
<% end %>


<%#= render partial: 'spaces/pg_search_partial' %>
