<!-- Team -->
<section class="bg-light" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
        <h3 class="section-subheading text-muted">The ShareSpace team was originally founded in the Summer of 2003 after a full-contact game of freeze-tag between young professionals and local 4th grade students. Following the embarrassing defeat and countless injuries, they quickly bonded over their love of luke-warm yogurt and chisel-tip markers. They've been coding on projects ever since including the creation of many well-known apps such as "Find My Iguana", "Timber: Tinder for Lumberjacks", and "AJAX My Apple Jacks." </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <%= image_tag("lina1.jpg", class: "mx-auto rounded-circle")%>
          <h4>Lina Z.</h4>
          <p class="text-muted">Lead Developer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <%= image_tag("adam.png", class: "mx-auto rounded-circle")%>
          <h4>Adam B.</h4>
          <p class="text-muted">Lead Developer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <%= image_tag("andrew.jpg", class: "mx-auto rounded-circle")%>
          <h4>Andrew G.</h4>
          <p class="text-muted">Lead Developer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <br><br>
        <p class="large text-muted">Why are you here? There's no more content. Scroll up and go on with your life. Oh, wait, wait, since you're here. Just a reminder that Andrew's birthday is coming up. He could use a new large sauce pan, preferably stainless steel, so that he can deglaze with confidence. He seriously LOVES deglazing.</p>
      </div>
    </div>
  </div>
</section>
