]
    <div class="jumbotron">
      <div class="container">
        <h1>Desk Space. Everywhere. To Share!</h1>
        <p>Rent high quality office space, for any budget from the largest workspace network.</p>
        <a href="#">Learn More</a>
      </div>
    </div> 

    <div class="learn-more">
	  <div class="container">
		<div class="row">
            <h1> Plans & Pricing </h1>
	  	  <div class="col-md-4">
			<h3>Standard Private Office</h3>
			<p>Enclosed, lockable offices can accommodate teams of any size. Move-in ready, with desks, chairs, and filing cabinets.</p>
			<p><a href="#">Learn More</a></p>
		  </div>
		  <div class="col-md-4">
			<h3>Dedicated Desk</h3>
			<p>A desk of your own in a shared space at one location. You’ll set up shop in the same spot each day in your building.</p>
			<p><a href="#">Learn more about hosting</a></p>
	      </div>
		  <div class="col-md-4">
			<h3>Trust and Safety</h3>
			<p>Guaranteed workspace in a common area at one location. Just bring your laptop, pick an open seat, and get to work.</p>
			<p><a href="#">Learn about trust at Airbnb</a></p>
		  </div>
	    </div>
	  </div>
	</div>
