// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

<<<<<<< HEAD
#main-wrapper {
    margin-top: 50px !important;
}

.intro-text {
    padding-top: 100px !important;
    padding-bottom: 50px !important;
}

.main-search {
    padding-top: 50px;
    padding-bottom: 0px;
}
=======
@import "theme/agency.scss"; // adam replaced agency.min with this, so each theme scss file can be compiled properly.
>>>>>>> master
