#main-wrapper {
    margin-top: 100px !important;
    background-color: #FCF9F9 !important;
}

.intro-text {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;    
    
}

.timeline-heading {
  font-family: 'Montserrat', sans-serif !important;
}

h2.text-uppercase{
  font-family: 'Montserrat', sans-serif;
}

section {
  padding-top:  40px !important;
  padding-bottom:  40px !important;
}
h3.section-subheading {
  margin-bottom: 50px !important;
  font-family: 'Montserrat', sans-serif !important;
  font-family: 600i !important;
}

.header-content {
  margin: 0 auto !important;
}


#mainNav {
  background-color: white !important;
}

.navbar-toggler {
  color: #98ced7c4 !important;
}
.nav-link {
  &:hover {
    background-color: #F5F5F5 !important;

  }
}

.cta {
  background-color: #98ced7c4 !important;
}
.btn-primary:hover {
  background-color: #F0B67F !important;
}
a {
  font-family: 'Montserrat', sans-serif !important;
  &:hover{
    background-color: #F5F5F5 !important;
    font-family: 600i !important;
  }
}

.portfolio-caption a {
  &:hover{
    background-color: transparent !important;
  }
}
#about {
  padding-top:  50px !important;
}

.main-search {
    padding-top: 50px;
    padding-bottom: 0px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: #98ced7c4 !important;
}

#mainNav .navbar-nav .nav-item .nav-link{
  color: #98ced7c4 !important;
}

.timeline:before{
  background-color: #F7A278 !important;
}

.timeline > li .timeline-image {
  background-color: #98ced7c4 !important;
  
}

.portfolio-caption a {
   &:hover {
    color: #F0B67F; 
  }
}
@import "theme/agency.scss"; // adam replaced agency.min with this, so each theme scss file can be compiled properly.
