// Place all the styles related to the Spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-inner > .carousel-item > img {
  width: 100%;
  margin-top: -120px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none !important;
}

.carousel-control-prev, 
.carousel-control-next {
  &:hover {
    background: transparent;
  }
}

iframe {
  width: 100% !important;
}

.space-details {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}


.space-image {
  // min-height: 226px;
  img {
    width: 100%;
    // max-height: 226px;
  }
}
.map-container {
  padding-top: 50px;
}


// Styling for the newSpace section
section#newSpace {
  background-color: #98ced7;
  // background-image: url('../img/map-image.png');
  background-repeat: no-repeat;
  background-position: center;
  
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
      input.form-control {
        height: auto;
      }
      textarea.form-control {
        height: 248px;
      }
    }
  }
  
  .carousel-container {
    max-height: 350px;
    overflow: hidden;
  }
  
  
  .img-fluid {
   height: 100% !important;
   width: 100%;
  }

  .portfolio-link {
    height: 220px !important;
    overflow: hidden !important;
  }